*.nc
*.png
*.xlsx
*.shp
*.shx
*.prj
*.out
*.cpg
*.dbf
*.xml
*.csv
*checkpoint.ipynb
*.feather
*.db
*.pdf
*.docx
*.pkl
*.pickle
*.mat
*.zarr
*.nc4
*.ncf
*.mp4
global_power_plant_database_v_1_3/
IPCC-WGI-reference-regions-v4_shapefile
MOZART_data
old_analysis/
